
:root {
    --n: 4;
    --index: 0;
    --main-bg-color: pink;
}

* {
    margin: 0;
    padding: 0;

}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

html {   
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px, 10px/16px = 62.5% */    
}

body {
    font-family: 'Frank Ruhl Libre', serif;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    
}

h1, h2, h3, h4, h5, h6, p, span, figure, img, div {
    padding: 0;
    margin: 0;
}