.home__section {
	/* border: 1px solid red; */
}

.payment__info {
	width: 95%;
	height: 6rem;
	margin: 2rem auto;
	background: rgb(96, 125, 139);
	color: #fff;
	text-transform: uppercase;
	font-size: 1.3rem;

	display: flex;
	align-items: center;
	justify-content: center;
}

.hero {
	height: 60rem;
	width:95%;
	margin: 1rem auto; 
	background: url(../images/hero-section-bg-4.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero__container {
	color: #fff;	
	width: 90%;
	text-align: center;
}

.hero__container p {
	text-transform: uppercase;
	font-size: 1.3rem;	
	font-weight: 100;
	line-height: 2;

} 

.hero__container h1 {
	margin: 4rem 0;
	font-size: 5rem;
	font-family: 'Frank Ruhl Libre';
	font-weight: 400;
	text-transform: capitalize
} 

.hero__container a {
	color: #fff;
	font-size: 1.5rem;
	text-decoration: none;
	padding: 1.5rem 3rem;
	border: 2px solid #fff;
	border-radius: 40px;
	margin: 2rem 0;
	text-transform: uppercase;
} 

.watch__types {
	width:95%;
	margin: 1rem auto; 
}

.watch__type {
	height: 40rem;
	margin: 3rem 0;
}

.watch__type img {
	height: 100%;
	width: 100%;
}

@media only screen and (min-width: 768px) {

	.hero__container p {
		font-size: 1.4rem;	
	
	} 

	.hero__container h1 {
		margin: 8rem 0;
		font-size: 6rem;		
	} 
	
	.watch__types {
		display: grid;
		grid-template-columns: repeat(3, 1fr);		
		grid-column-gap: 10px;
		
	}

	.watch__type {
		height: 25rem;		
	}
}

@media only screen and (min-width: 992px) {
	.watch__type {
		height: 32rem;
		
	}
}

@media only screen and (min-width: 1200px) {
	.payment__info {
		width: 70%;		
	}

	.hero {		
		width:70%;		
	}

	.watch__types {
		width:70%;		
	}
	.watch__type {
		height: 34rem;
		
	}
	
}