.nav {
	width: 95%;
	height: 7rem;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 0.3rem;
}

.menu__indicator {
	flex: 0 0 10%;
	height: 3.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.bar {
	height: 2px;
	width: 2.5rem;
	margin: 2.5px 0;
	background: #000;
	cursor: pointer;
	transition: all 1s ease-out;
}

.bar:nth-child(2) {
	width: 1.8rem;
}

.menu__indicator-toggle {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.position__absolute-bars {
	position: absolute;
}

.bar__first-child {
	transform: rotate(45deg);
	transition: all 1s ease-out;	
}

.bar__second-child {
	display: none;
	transition: all 1s ease-out;		
}

.bar__third-child {
	transform: rotate(-45deg);
	transition: all 1s ease-out;	
}


.logo {
	flex: 0 0 60%;
	height: 4rem;
	/*border: 1px solid blue;  Testing*/
	display: flex;
	justify-content: center;
	align-items: center;
	 
}

.logo__text {
	display: inline-block;
	height: 80%;	
}

.cart__container {
	flex: 0 0 10%;
	height: 3.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.cart {
	width: 3rem;
	height: 3rem;
}

.cart__container span {
	display: none;
	justify-content: center;
	position: relative;
}

.cart__counter {
	width: 15px;
	height: 15px;
	background: #000;
	border-radius: 50%;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: -5px;
	right: 1%;
	font-size: 10px;
}

@media only screen and (min-width: 768px) { 
	.cart__counter {
		right: 20%;
		font-size: 10px;
	}
}


@media only screen and (min-width: 1025px) { 
	
	.cart {
		display: none;
	}

	.cart__container span {
		display: block;	
		font-size: 1.4rem;
	}

	.cart__container {
		
	}

	.cart__counter {
		position: static;
		width: 16px;
		height: 16px;
		margin-left: 5px;
	} 
}


@media only screen and (min-width: 1200px) {
	.nav {
		width: 70%;
	}
	
}
